body{
	background-image: url('assets/pexels-micah-boerma-1008739.jpg'); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}
.main-content{
	color: white; 
	opacity: 0;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	height: 20em;
	width: 48em;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	padding: 60px;
}
.main-content .main-page-content{
	color: black;
	font-family: Arial;
}

.main-content .main-page-content h1{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	
}

.main-content .main-page-content .link{
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	
}

.main-content .main-page-content .link a{
	background-color: red;
	color: white;
	padding: 15px;
	border-radius: 10px;
	text-decoration: none; /*Remove link underlining*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-content .main-page-content .link a:hover{
	background-color: maroon;
	color: white;
	padding: 15px;
	border-radius: 10px;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	